{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>ICS Job Search</h1>
<br>
<main role="main">
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
            alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form id="auth-form" action="{{url_for('login')}}" method="post">
            <div class="text-center text-lg-start mt-4 pt-2">
              <!-- Modify Login button to go to the /login route -->
              <input type="button" value="Login" data-mdb-button-init data-mdb-ripple-init
                class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                onclick="setActionForm('login')" />

              <!-- Modify Register button to go to the /register route -->
              <input type="button" value="Register" data-mdb-button-init data-mdb-ripple-init
                class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                onclick="setActionForm('register')" />

            </div>

          </form>
        </div>
      </div>
    </div>
    <!-- Right -->
    </div>
  </section>
</main>

<script>

  function setActionForm(action) {

    let form = document.getElementById("auth-form");
    if (action === 'login') {

      window.location.href = "/login"

    } else if (action === 'register') {

      window.location.href = "/register"

    }

  }

</script>

{% endblock %}